<h1 class="text-center mb-5">ABOUT</h1>
<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus adipisci
  exercitationem dicta, nihil eum expedita! Assumenda excepturi quae, veniam
  minus corrupti, culpa illum veritatis quasi provident sint, quia sunt saepe.
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo harum
  perferendis laboriosam corrupti. Nobis libero officiis tempora vel, cupiditate
  consectetur sed ipsum aliquam nesciunt enim laboriosam, vitae quisquam
  assumenda fugit.
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. At sint eius
  voluptates nam. Obcaecati officiis eaque pariatur, odit, qui consequuntur
  tempore, excepturi suscipit saepe nihil magnam. Doloremque placeat vero quos.
</p>
